[submodule "components/CalEPD"]
	path = components/CalEPD
	url = https://github.com/martinberlin/CalEPD.git
[submodule "components/Adafruit-GFX"]
	path = components/Adafruit-GFX
	url = https://github.com/martinberlin/Adafruit-GFX-Library-ESP-IDF
[submodule "components/pcd68"]
	path = components/pcd68
	url = ../pcd68-cpp
