[submodule "components/CalEPD"]
	path = components/CalEPD
	url = git@github.com:jrsharp/CalEPD.git
	branch = topic/pcd68
[submodule "components/Adafruit-GFX"]
	path = components/Adafruit-GFX
	url = https://github.com/martinberlin/Adafruit-GFX-Library-ESP-IDF
	branch = v1.7.7
[submodule "components/pcd68"]
	path = components/pcd68
	url = ../pcd68-cpp
